body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel{
    overflow: hidden;
    width: 500px;
    height: 500px;
    position: relative;
}

.carousel .carousel_item,
.carousel .hidden{
    display: none;
}

.carousel .carousel_item img{
    max-width: 1500px;
    width: 100%;
    height: auto;
}

.carousel .visible{
    display: block;
}

.carousel .carousel_actions{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}